<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <title>Movie Information</title>
</head>
<body>
<h2 style="color:blue" align="center"> hey  fitness!!!</h2>
<img src="{% static 'img/running.jpg' %}" class="d-block w-100" height="auto">
{% block content %}
{% endblock %}
<h2> Hey!! I am header!!!</h2>
</body>
</html>